@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 240 11% 96%;
    --card: 0 0% 7%;
    --card-foreground: 240 11% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 240 11% 96%;
    --primary: 140 100% 86%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 240 11% 96%;
    --muted: 0 0% 10%;
    --muted-foreground: 240 3% 48%;
    --accent: 140 100% 86%;
    --accent-foreground: 0 0% 2%;
    --destructive: 3 100% 61%;
    --destructive-foreground: 240 11% 96%;
    --border: 240 4% 11%;
    --input: 240 4% 11%;
    --ring: 140 100% 86%;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 240 11% 96%;
    --card: 0 0% 7%;
    --card-foreground: 240 11% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 240 11% 96%;
    --primary: 140 100% 86%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 240 11% 96%;
    --muted: 0 0% 10%;
    --muted-foreground: 240 3% 48%;
    --accent: 140 100% 86%;
    --accent-foreground: 0 0% 2%;
    --destructive: 3 100% 61%;
    --destructive-foreground: 240 11% 96%;
    --border: 240 4% 11%;
    --input: 240 4% 11%;
    --ring: 140 100% 86%;
  }
}
